:root {
  --primary-color: rgba(64, 161, 152, 1);
}
*{
    box-sizing: border-box!important;
}
.apexcharts-bar-area:hover {
  fill: #1C1E23 !important;
}
.apexcharts-tooltip {
  background: #1C1E23 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 6px !important;
}
